go 1.22.1

use (
	./chapter01
	./chapter03
	./chapter04
	./chapter05
	./chapter06/gokit
	./chapter06/gomicro
	./chapter06/grpc
	// ./chapter06/kite
	./chapter06/vanilla_http
	./chapter07
	./chapter08
	./chapter09
	./chapter10
	./crypto
)
